.video {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover !important;
  height: 100vh;
  /* height: 100vh !important; */
  width: 100%;
  z-index: -1;
}

.video__overlay {
  opacity: .76;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  z-index: 2;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
  // text-align: center;
  z-index: 4;
  position: absolute;
  bottom: 40vh;
  color: #c5c2c2;
  
  & .preaccess {
    position: relative;    
  }
}

.main-text {
  font-size: 6rem;
  border: 5px solid $color-orange;
  padding: 1.5rem 6rem;
  letter-spacing: 13px;
  font-weight: 900;
}

// .carousel-item {
//     height: 100vh;
//     min-height: 300px;
//     background: no-repeat center center scroll;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }

// .custom-caption {
//   color: $color-white;
//   border: 7px solid $color-orange;
//   top: 50vh;
//   bottom: 0px !important;


//   &__slide-num {
//     font-size: 3rem;
//     font-weight: 100 !important;
//   }

//   &__slide-heading {
//     margin: -3rem 0 -4rem 0;

//     font-size: 8rem;
//     font-weight: bold;
//   }

//   &__slide-sub-heading {
//     font-size: 5rem;
//     font-weight: 300;
//   }

// }

// .carousel-indicators {


  
//   // padding: 1rem;

//   & ol {
    
//   }

//   & li {
//     align-items: flex-start;
//     margin: 10px;
//   }
// }

.intro {
  display: flex;

  width: 100%;
  height: 60rem;

}

.intro-left {
  background-color: #0B1527;
  width: 50%;
}

.divider2 {
  background: url('https://placeimg.com/1000/980/arch/grayscale') center center no-repeat;
  height: 90rem;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &-btn {
    margin-top: 70rem;
    padding: 1rem 4rem;
    font-size: 2rem;
    font-weight: 100;
    background: #ffffff1a;
    border: solid 1px #707070;
    color: #D1D1D1;
    letter-spacing: .5rem;
  }
}

.shop {
  text-align: center; 
}

.shop-shoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shoe {
  height: 25rem;
  padding: 2rem;
}

.men-shoes {
  background: url('@../../assets/img/men-shoes.jpg');
  height: 70rem;
  display: flex;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;

  &-content {
    margin-left: 60rem;
  }
}

.newsletter {
  background-color: #D1D1D1;
  height: 20rem;

  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



}