.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    
    background: #0E1A2F;
    height: 20rem;
    color: $color-white;
}

.footer-logo {
    height: 7rem;
}