header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 1rem;
    z-index: 3;
    width: 100%;
    padding: 1rem;
  }
  
  .header__logo {
    // align-self: flex-start;
    height: 7rem;
  }



.menu {
  color: $color-white;
  width: 60%;
  font-size: 1.5rem;
  

  display: flex;
  justify-content: flex-end;
  align-items: center;

  & button {
    margin-right: 2rem;
  }
  
  & a {
    color: $color-white;
    text-decoration: none;
  }

  & :hover {
    color: $color-lightorange;  }
}

@media (max-width: 768px) {
  .header__logo{
    height: 5rem;
    margin: 2rem;
  }

  .menu {
    justify-content: space-evenly; 

    & button {
      margin-right: 0;
    }
  }

  header {
    flex-direction: column;
  }

  button {
    margin-right: 0;
  }

}





  