header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 1rem;
    z-index: 3;
    width: 100%;
    padding: 1rem;
  }
  
  .header__logo {
    // align-self: flex-start;
    height: 7rem;
  }

.menu {
  color: $color-white;
  width: 60%;
  font-size: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    color: $color-white;
    text-decoration: none;
  }

  & :hover {
    color: $color-lightorange;  }

}






  