//colors
$color-white: #f2f2f2;
$color-orange: #eb5500;
$color-lightorange: #f38900;
$color-yellow: #ffde00;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


//font
$default-font-size: 1.6rem;

